header {
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    background-color: #080710;
    color:rgb(200, 200, 200);
    border-bottom: gray solid 1px;
    font-family: "Kanit", sans-serif;
}

/* Logo */
.header > .logo {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}
/* Logo */

/* Nav Bar */
.navBar {
    flex: 1;
    text-align: start;
    font-weight: 300;
    font-size: 2.5rem;
}

.navBar.item {
    cursor: pointer;
    display: inline;
    margin: 0 10px;
    padding: 0;
}

.fa-bars {
    font-size: 2rem;
    display: none;
    position: fixed;
}
/* Nav Bar */

/* Search Bar */
.searchBar {
    flex: 1;
    text-align: end;
    padding-right: 20px;
}

.searchBar > form > input {
    font-weight: 200;
}
/* Search Bar */

/* User */
header > .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

header > .user > i {
    padding: 5px;
    margin: 0 20px;
    border: solid white;
    border-radius: 100%;
    cursor: pointer;
}

header > .user > p {
    margin: 0;
    font-size: 1.5rem;
}
/* User */
.navBar.item:hover, .fa-solid:hover ,header > .user > i:hover, .selected {
    color: white;
}

.selected {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1rem;
}
/* Common */


/* Responsive */

/* Mid Screen */
@media only screen and (max-width: 1250px) {
    .logo {
        display: none;
    };
}

/* Phone */
@media only screen and (max-width: 900px) {
    header > .user, .searchBar button {
        display: none;
    }

    .searchBar {
        padding: 0;
    }

    .navBar {
        display: none;
        flex-direction: column;
        font-size: 1rem;
    }

    .navBar.open {
        display: flex;
    }

    .navBar.item {
        width: 100%;
        text-align: center;
        margin: 0.25em 0.5em;
    }

    .fa-solid {
        display: inline;
        cursor: pointer;
    }

}