header {
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    background-color: #080710;
    color:white;
    border-bottom: gray solid 1px;
}

/* Logo */
.header > .logo {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}
/* Logo */

/* Nav Bar */
.navBar {
    flex: 1;
    text-align: start;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.navBar.item {
    cursor: pointer;
    display: inline;
    margin: 0 10px;
    padding: 0;
}
/* Nav Bar */

/* Search Bar */
.searchBar {
    flex: 1;
    text-align: end;
    padding-right: 20px;
}
/* Search Bar */

/* User */
header > .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

header > .user > i {
    padding: 5px;
    margin: 0 20px;
    border: solid white;
    border-radius: 100%;
    cursor: pointer;
}

header > .user > p {
    margin: 0;
    font-size: 20px;
}
/* User */