/* COMMENTS */
.body{
    margin:0;
}
.comments {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    
}
.comments {
    margin-top: 10px;
    margin-bottom: 20px;
    /* background-color: gray; */
    width: 100%;
    height: 500px;
    border: 2px white solid;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .addComment{
    display:flex;
    flex-direction:row;
  }

.comments-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    overflow: scroll;
    overflow-x: hidden;
    width:100%;
}
.titleDateHolder{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.commentTitleDate{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    gap:4px;
}
.commentDate{
    margin:0;
    font-size: 12px;
    color:gray;
}
.commentInfo p{
    margin-bottom:4px;
}
.addComment {
    margin-top: 5px;
}


#txtAddComment{
  width: 80%;
  height: 50px;
  resize: none;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 12px 25px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
#btnAddComment{
  border-radius: 5px;
  background-color: white;
  width: 20%;
    height: 50px;
    font-size: 15px;
}

.likeDelete{
    display: flex;
    grid-gap: 10px;
    gap: 10px;
    align-items: flex-start;
}
.likeFunction{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: baseline;    
    color: green;
}
#likeButton{
    color:green;
   
  }
#styleDelete{
    margin-left: 20px;
}
/* COMMENT */
.comment {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 0;
    color: white;
    border: solid white 2px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* .comment div {
    display: flex;
} */

/* .comment div p {
    margin-right: 10px;
} */