/* COMMENTS */

.comments {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    overflow: scroll;
    
}

.addComment {
    margin-top: 5px;
}

#txtAddComment {
    width: 80%;
    height: 70px;
    resize: none;
    color: black;
}

#btnAddComment{
    width: 20%;
    height: 30px;
    font-size: small;
}


/* COMMENT */
.comment {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
}

.comment div {
    display: flex;
}

.comment div p {
    margin-right: 10px;
}