/* FOOTER STYLE */
.footer{
    display: flex;
    justify-content: center;
    position:sticky;
    background-color: #080710;
    border-top: gray solid 1px;
  }
  .footerHeader{
    font-size:20px;
    padding: 20px;
    color:white;
  }