.video {
    width: 500px;
    height: 400px;
    margin: 25px;
    padding: 0;
    border: none;
    display: flex;
}

iframe {
    width: 100% !important;
    height: 200px !important;
    border-radius: 5px 5px 0 0;
}

.videoInfo {
    height: 110px;
    border-radius: 0 0 5px 5px;
    text-align: start;
    padding: 0 0 0 10px;
    border-top: solid rgb(209, 206, 206);
}

.videoTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoDescription {
    color:white;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoInfo > p {
    color: white;
}

.videoFooter {
    display: flex;
    justify-content: space-between;
}

.video > iframe, .videoImage {
    cursor: pointer !important;
}

/* Show Video */
section.showVideo {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 0;
    color: white;
}

.showVideo > .left  {
    display: flex;
    flex-direction: column;
}

.showVideo > .right{
    display: flex;
    flex-direction: column;
}

.showVideo .videoPlayer {
    width: 800px;
    height: 550px;
}

.showVideo .videoPlayer > iframe {
    height: 500px !important;
}

.showVideo .divTitle {
    display: flex;
    align-items: center;
}

.divTitle p {
    text-align: center;
    margin: 0;
}

.showVideo input,.showVideo textarea {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    caret-color: transparent;
    resize: none;
}

.showVideo .inputEnabled {
    caret-color: black;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    margin-left: 20px;
}

.showVideo .title {
    font-size: 40px;
    padding-left: 20px;
    width: 100%;
    text-overflow: ellipsis;
}

.showVideo .description {
    font-size: 20px;
    margin-bottom: 20px;
    height: 150px !important;
}

.videoControl {
    display: flex;
    justify-content: flex-start;
}

.videoControl > button {
    margin: 0 20px;
    height: 30px;
    width: 80px;
}

.videoControl > button:active {
    margin-top: 5px;
}

.videoControl > .btnModify {
    background-color: green;
}

.videoControl > .btnDelete {
    background-color: red;
}

.alertBox {
    background-color: rgb(155, 155, 155);
    padding: 10px;
    border-radius: 20px;
}

.alertBox > button {
    margin: 0 5px;
}

.right{
    width: 400px;
    height: 700px;
    border: solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
    overflow-y: scroll;
}

.right > h3, .right > input {
    margin: 0;

}

.right > .comments {
    border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: gray;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.inputComment {
    display: inline;
    background-color: rgb(100, 104, 107);
}

.right input {
    background-color: rgb(100, 104, 107);
    color: black;
    width: 350px;
}

.inputComment > i {
    background-color: rgb(100, 104, 107);
    font-size: 24px;
    padding-top: 2px;
}

.inputComment > i:hover {
    cursor: pointer;
}

/* COMMENT */
.comment {
    padding: 0 !important;
}

.comment > .user {
    font-size: 22px;
    margin: 0;
}

.comment > .text {
    font-size: 16px;
    padding-left: 20px;
}

.comment > .date {
    font-size: 12px;
    margin: 0;
    display: flex;
    align-items: center;
}

.comment > .date > p {
    margin: 0 5px;

}

.comment > .date > .daysAgo {
    margin: 0;
    flex:1;
}

.comment > .date > span.commentLikes {
    margin-left: auto !important;
}

.deleteComment {
    padding-right: 10px;
}