@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  margin: 0;
  width:100%;
  overflow-x:hidden;
  padding:0;
  box-sizing: border-box;
  background-color: #080710;
}
/* HEADER/ NAVBAR CSS */

.nav-menu{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom:0px;
  }

.nav-item{
  list-style-type: none;
  padding-right: 30px;
  
}
a:visited{
  text-decoration: none;
  color:white;
}
a:link {
  text-decoration: none;
  color:white;
}
a:hover {
  text-decoration: none;
  color:white;
}

/* NAV LOGO CSS */
#navLogo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

 #nav-link{
  border-radius: 5px;
    font-size: 20px;
    padding: 5px 21px 8px;
    border: white solid 2px;
}
.hamburger{
  display:none;
  position: absolute;
    right: 10px;
    top: 16px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}
.burger-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: baseline;
  }

/* CREATE FORM STYLE */
.createPageHolder{
  background-color: #080710;
    display: flex;
    flex-direction: column;
}
.returnBtnHolder{
  margin-top: 28px;
  margin-left: 48px;
  color: white;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
}
.returnBtn{
  border: solid white 2px;
  border-radius: 5px;
  padding: 7px 21px;
  font-size: 20px;
}
.formCreateHolder{
  display:flex;
  justify-content:center;
}
.formCreateOuter{
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
  padding: 40px;
    margin: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.createFormHeader{
  text-align:center;
  /* margin: 5px; */
  /* padding-top: 20px; */
  color:white;
  font-size:30px;
}
#createForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label{
  color:white;
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.form-control{
  width: 100%;
  min-height: 60px;
  border-radius: 3px;
}
#createVideoBtn{
  width:100%;
  background-color: white;
  color: black;
  height: 70px;
   border-radius: 5px;
   font-size: 22px;
}
#createVideoBtn:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* SEARCH INPUT STYLE */
#header-search{
  /* width:100%; */
  border-radius: 11px;
    width: 353px;
    padding: 4px 22px;
    border: white;
    margin-left: 9px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.07);
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.fontIcon{
  background: transparent;
  /* border: none; */
  border-radius: 17px;
  margin: 5px;
  padding: 4px 8px;
  background: white;
}
::placeholder{
  color: #e5e5e5;
}

/* User Menu --->>> */
.userPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 30px; */
}

.user-infoContainer{
  background-color: #080710;
    border-bottom: gray solid 1px;
}
.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: black solid 2px;
}

.usernameInfo {
  border: white 2px solid;
    width: 20%;
    border-radius: 5px;
    background-color: black;
    margin: 5px;
    color: white;
}

.usernameInfo p {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 4px; 
  
}

.createVideo {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content:flex-start;
  width: 80%;
}

/* Create Video Button */
.createVideo input{
  margin: 0 auto;
  margin-left: 20px;
  border-radius: 5px;
  border: white solid 2px;
  padding: 5px 20px 6px 20px;
  color:white;
  background-color: black;

}

/* <<<---- User Menu */
.videoListContainer{
  background-color: #080710;
}

.videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}
.video {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 1px white solid;
  padding: 30px;
  border-radius: 5px;
  max-width: 400px;
}

.video iframe {
  width: 250px;
  height: 150px;
}
.videoTitle{
  color:white;
  max-width: 400px;
}
.videoButtons {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.btnModify, .btnDelete {
  border-radius: 5px;
  width: 30%;
  background-color: #080710;
  color:white;
  border: white solid 2px;
}

#Categories {
  margin: 20px;
  border: white solid 2px;
  background-color: black;
  color: white;
  padding: 9px 40px;
  font-size: 20px;
  border-radius: 5px;
}


.videoPage{
  background-color: #080710;
}
.videoInfo{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 27px;
  border: 1px black solid;
  background-color: #080710;
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
  width:100%;
}
.videoContainer{
  padding:50px;
  padding: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoHandler{
  display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: white solid 2px;
    padding: 20px;
    border-radius: 5px;
}
.videoIframe {
  width: 100%;
  height: 500px;
}
.videoDescriptions {
  font-style: italic;
  font-weight: bold;
  color: gray;
}
.videoDescriptions span{
  color:white;
  font-weight:none;
}
.description{
  color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.likeDescription{
  display:flex;
  gap:6px;
}


/* MEDIA QUERY */
@media screen and (max-width: 980px) and (min-width:200px){
  /* NAVBAR */
  .header{
    position:sticky;
  }
  /* close navabr */
  .burger-list{
    
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 100px;
    right: -2000px;
    height: 30vh;
    width: 100%;
    background: #080710;;
    align-content: center;
    border-radius: 5px;
    
  }
  /* open navbar */
  .burger-list.active{
right:0px;
     
  

  }

.burger-item {
    
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
    margin:10px;
} 
.signOut{
  border-top: 1px solid rgba(255, 255, 255, 0.555);
}
  .hamburger{
    display: block;
    /* height: 41px; */
    color:white;
  }
#bars{
  font-size:43px;
  height: 41px;
}
  #header-search{
    width: 200px;
  }
  .homepageLink {
    font-size: 25px;
    
  }
  .videoList {
    display:block; 
    margin: 5px;
    margin-top: 20px;
    flex-direction: column;
  }
  .userPage{
    max-width: 1214px;
  }
  #projectMemberInfoDiv{
    justify-content: center;
    /* width: 100%; */
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
 .projectDescription{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.formOuterSignOut{
  height:100%;
}
.nameUsernameHolder{
  flex-direction: column;
  gap:0px;
}
.usernameInfo p {
  flex-wrap: wrap;
  font-size: 15px;
  }
  .videoCategoriesHolder{
    display:flex;
    justify-content: center;
  }
  .videoButtons{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 10px;
  }
}

.formSub {
  color: black;
}


/* New Styles */
main {
  justify-content: center;
  flex: 1;
}