body{
  margin: 0;
  width:100%;
  overflow-x:hidden;
  padding:0;
  box-sizing: border-box;
  background-color: #080710;
}
/* HEADER/ NAVBAR CSS */
.header{
  height: 100px;
  display:flex;
  flex-direction: row;
  position:sticky;
  background-color: #080710;
  color:white;
  border-bottom: gray solid 1px;
}
.navbar{
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.nav-menu{
  height: 40px;
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  flex-flow: row nowrap;
  align-items: center;
}
.nav-item{
  list-style-type: none;
  padding-right: 30px;
  
}
a:visited{
  text-decoration: none;
  color:white;
}
a:link {
  text-decoration: none;
  color:white;
}
a:hover {
  text-decoration: none;
  color:white;
}

/* NAV LOGO CSS */
.homepageLink{
  border: white solid 2px;
  font-size: 35px;
  padding: 9px 27px;
  border-radius:10px;
}
.homepageLink:hover{
  color:rgb(255, 255, 255);
}
 #nav-link{
  border-radius: 5px;
    font-size: 20px;
    padding: 5px 21px 8px;
    border: white solid 2px;
}

/* ABOUT */
#aboutContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080710;
  color:white;
}

#aboutStreamin{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutInfo{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.projectDescription{
  width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
  

#projectMemberInfoDiv{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.aboutDiv{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.teamMemberPic{
  width: 300px;
  border-radius: 60px;
}
 .github ,.linkedin{
  border-radius: 5px;
    font-size: 20px;
    padding: 5px 21px 8px;
    border: white solid 2px;
 }
 .socials{
  gap: 15px;
  display: flex;
  flex-direction: column;
 }
/* CREATE FORM STYLE */
.createPageHolder{
  background-color: #080710;
    display: flex;
    flex-direction: column;
}
.returnBtnHolder{
  margin-top: 28px;
  margin-left: 48px;
  color: white;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
}
.returnBtn{
  border: solid white 2px;
  border-radius: 5px;
  padding: 7px 21px;
  font-size: 20px;
}
.formCreateHolder{
  display:flex;
  justify-content:center;
}
.formCreateOuter{
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
  padding: 40px;
    margin: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.createFormHeader{
  text-align:center;
  /* margin: 5px; */
  /* padding-top: 20px; */
  color:white;
  font-size:30px;
}
#createForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-label{
  color:white;
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.form-control{
  width: 100%;
  min-height: 60px;
  border-radius: 3px;
}
#createVideoBtn{
  width:100%;
  background-color: white;
  color: black;
  height: 70px;
   border-radius: 5px;
   font-size: 22px;
}
#createVideoBtn:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/* SIGN IN & REGISTER FORM */
.formContainer{
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* margin:50px; */
    width:100%;
    height:100%;

    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.holder{
  background-color: #080710;
  width:100%;
}
.formOuterSignIn{
  border: solid 1px black;
  padding:40px;
  margin:50px;
  /* height: 770px; */
  /* width:100% */
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
   border: 2px solid rgba(255,255,255,0.1);
}
.formOuterSignOut{
  border: solid 1px black;
  padding:40px;
  margin:50px;
  height: 750px;
  width: 60%;
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
}
.signInTitle{
  /* border-radius: 60px;
  background-color: white; */
  display:flex;
  justify-content: center;
  
}
.signIn{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  font-size:30px;
}

.labelStyle{
  padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.input-field, .mb-3{
  padding-top:24px;
  padding-bottom: 24px;
  width:100%;
}
#username, #password, #displayName, #passwordCheck,#textarea,#title, #url, #tags{
  width:100%;
  min-height: 60px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 12px 25px;
  font-size: 14px; 
  font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form-label{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.formSub{
  width:100%;
  height:60px;
  border-radius: 5px;
  background-color:white;
}
.formSub:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.formSubmit{
  width:100%;
  font-size:22px;
  border-radius: 5px;
  
  
}
.registerLink{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size:20px;
}
.nameUsernameHolder{
  display: flex;
    gap: 36px;
}
.registerTitle{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.registerBtn{
  padding-bottom: 62px;
}
.registerValue{
  padding: 5px;
  text-align: center;
  background-color:white;
  border-radius: 5px;
  height: 60px;
}
.registerValue:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.message{
  text-align:center;
  font-size: 25px;
}
/* SEARCH INPUT STYLE */
.searchBar{
  border: solid white 2px;
    border-radius: 71px;
}
#header-search{
  /* width:100%; */
  border-radius: 11px;
    width: 353px;
    padding: 4px 22px;
    border: white;
    margin-left: 9px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.07);
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.fontIcon{
  background: transparent;
  /* border: none; */
  border-radius: 17px;
  margin: 5px;
  padding: 4px 8px;
  background: white;
}
::placeholder{
  color: #e5e5e5;
}

/* FOOTER STYLE */
.footer{
  display: flex;
  justify-content: center;
  position:sticky;
  background-color: #080710;
  border-top: gray solid 1px;
}
.footerHeader{
  font-size:20px;
  padding: 20px;
  color:white;
}




/* User Menu --->>> */
.userPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 30px; */
}

.user-infoContainer{
  background-color: #080710;
    border-bottom: gray solid 1px;
}
.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  width: 100%;
  height: 60px;
  font-size: 20px;
  border: black solid 2px;
}

.usernameInfo {
  border: white 2px solid;
    width: 20%;
    border-radius: 5px;
    background-color: black;
    margin: 5px;
    color: white;
}

.usernameInfo p {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#usernameInfo {
  font-size: 25px;
}

.createVideo {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content:flex-start;
  width: 80%;
}

/* Create Video Button */
.createVideo input{
  margin: 0 auto;
  margin-left: 20px;
  border-radius: 5px;
  border: white solid 2px;
  padding: 5px 20px 6px 20px;
  color:white;
  background-color: black;

}

/* <<<---- User Menu */
.videoListContainer{
  background-color: #080710;
}
.videoList {
  /* display: flex;
  margin: 0 auto;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  border: 1px black solid; */
  display: flex;
  /* margin: 5px; */
  /* margin-top: 20px; */
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 27px;
  border: 1px black solid;
  background-color: #080710;
  padding: 40px;
  margin: 50px;
  /* height: 770px; */
  /* width: 100%; */
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.13);
  border: 2px solid rgba(255,255,255,0.1);
}

.videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}
.video {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 1px white solid;
  padding: 30px;
  border-radius: 5px;
}

.video iframe {
  width: 250px;
  height: 150px;
}
.videoTitle{
  color:white;
}
.videoButtons {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.btnModify, .btnDelete {
  border-radius: 5px;
  width: 30%;
  background-color: #080710;
  color:white;
  border: white solid 2px;
}

#Categories {
  margin: 20px;
  border: white solid 2px;
  background-color: black;
  color: white;
  padding: 9px 40px;
  font-size: 20px;
  border-radius: 5px;
}

.videoInfo{
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.videoIframe {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 90%;
  height: 500px;
}

.comments {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: gray;
  width: 70%;
  height: 300px;
}
/* MEDIA QUERY */
@media screen and (max-width: 980px) and (min-width:200px){
  /* .searchBar{
    display:none;
  } */
  #header-search{
    width: 200px;
  }
  .homepageLink {
    font-size: 25px;
    
  }
  .videoList {
    /* display:block; */
    /* margin: 5px; */
    /* margin-top: 20px; */
    flex-direction: column;
  }
  .userPage{
    max-width: 1214px;
  }
  #projectMemberInfoDiv{
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
 .projectDescription{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.formOuterSignOut{
  height:100%;
}
.nameUsernameHolder{
  flex-direction: column;
  gap:0px;
}
.usernameInfo p {
  flex-wrap: wrap;
  font-size: 15px;
  }
  .videoCategoriesHolder{
    display:flex;
    justify-content: center;
  }
  .videoButtons{
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
  }
}