section.login {
    position: absolute;
    width: 18rem;
    padding-bottom: 0.5rem;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    color: white;
    right: 0;
    margin: 10px;
    top: 80px;
    box-shadow: rgb(156, 156, 156) 0px 1.5em 2em -1.25em;
}

section.login > h1 {
    font-size: 2em;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
}

.login .fa-circle-xmark {
    display: none;
}

/* Form */
.login form {
    width: 16em;
    margin: auto;
    font-style: normal;
    font-weight: 100;
    font-family: "Kanit", sans-serif; 
}

.login form > input {
    font-size: 1em;
    font-style: normal;
    font-weight: 100;
    font-family: "Kanit", sans-serif; 
    width: 100%;
    margin: 5px 0;
    padding-left: 5px;
    border: none;
    /* border-radius: 10px; */
    color: white;
    background-color: rgb(10, 10, 10);
}

.login .errMessage {
    color: rgb(255, 70, 70);
    font-weight: 500;
    white-space:pre-wrap;
    margin: 0;
}

.login button {
    width: 100%;
    color: black;
    font-weight: 900;
    font-size: normal;
    font-family: "Kanit", sans-serif; 
    text-transform: uppercase;
    background-color: rgb(180, 180, 180);
}

.login button:hover {
    background-color: white;
}

#registerPageLink {
    color: rgb(1, 255, 1);
    cursor: pointer;
}

/* SignOut */
.signout {
    color: white;
    font-size: 1.3em;
    font-family: "Kanit", sans-serif; 
    font-weight: 200;
    font-size: normal;
    padding: 10px;
    text-transform: capitalize;
}

.signout h1 {
    font-family: "Kanit", sans-serif; 
    font-weight: 500;
    font-size: normal;
}

.signoutLink {
    color: rgb(255, 1, 1);
    cursor: pointer;
    margin: 0;
}

.addVideoLink {
    cursor: pointer;
    margin: 0;
    width: 7em;
}

.addVideoLink:hover, .signoutLink:hover, #registerPageLink:hover {
    font-weight: 400;
}

/* Responsive */
/* Phone */


@media only screen and (max-width: 900px) {
    section.login {
        position: relative;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        top: 0.25rem;
    }

    .login .fa-circle-xmark {
        display: inline;
        position: fixed;
        right: 0.25em;
    }

    #createForm {
        width: 100%;
        font-size: 0.85em;
    }
}